<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet"/>
    {% block title -%}
    {% if title %}
    <title>Про Flask - {{title}}</title>
    {% else %}}
    <title>Про Flask</title>
    {% endif %}
    {% endblock %}
</head>
<body>
{% block content -%}
{%- block mainmenu -%}
<ul class="mainmenu">
    {% for m in menu -%}
    <li>{{m}}</li>
    {% endfor %}
</ul>
{% endblock mainmenu -%}
<div class="clear"></div>
<div class="content">
    {% if title -%}
    <h1>{{ title }}</h1>
    {% else -%}
    <h1>про flask</h1>
    {% endif -%}
    {% endblock -%}
</div>
</body>
</html>