{% extends 'base.html' %}

{% block content %}
{{ super() }}
{% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
<form action="/contact" method="post" class="form-contact">
    <p><label>Имя: </label> <input type="text" name="username" value="" required /></p>
    <p><label>Email: </label> <input type="text" name="email" value="" required /></p>
    <p><label>Сообщение: </label></p>
    <p><textarea name="message" rows="7" cols="40"></textarea></p>
    <p><input type="submit" value="Отправить" /></p>
</form>
{% endblock %}

app.config['SECRET_KEY'] = 'qwertyuiopasdfghjkl'
